.individual-game {
  margin: 10px 0;
  background-color: #ccc;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 150px;
}

.game-header {
  text-align: center;
}

.team-name-header {
  height: 40px;
}

#navbar-upper {
  background-color: #1b3c7b;
  border-radius: 0px!important;
  margin: 0;
}

#navbar-lower {
  background-color: #0b2352;
}

.navbar-header>a,
.nav>li>a {
  color: rgb(189, 189, 189)!important;
}

.navbar-header>a:hover,
.nav>li>a:hover {
  color: #ffffff!important;
}

body {
  padding-top: 28px;
  background-color: #edf9ff;
}

.sidebar-leaderboard {
  background-color: #e9ecef;
  border-radius: .3rem;
}

.card-img-top {
  width: 100%;
}

.card {
  background-color: white;
  border-color: rgb(121, 121, 121);
  border: solid #ccc;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.card-inner {
  padding: 0 5px 5px 5px;
}

.table>tbody>tr>th,
.table>tbody>tr>td {
  font-size: 14px;
}

.btn-addsubtract-score,
.input-bet-scores {
  width: 35px;
  margin: 0 auto;
}

.btn-gold {
  background-color: #ffee00;
  border-color: #797100;
  color: #fff;
}

.btn-gold:hover {
  background-color: #ddcb00;
}

.input-bet-scores {
  height: 70px;
  width: 35px;
}

.completed-game>a {
  color: black;
  background-color: rgb(226, 226, 226)!important;
  border-color: rgb(226, 226, 226)!important;
}

p.card-text {
  font-size: 10px;
  background-color: #1b3d7b;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}

#tiebreaker-header {
  background-color: #ffee00;
  color: black;
}

.text-align-center {
  text-align: center;
}

.greyed-out>a {
  background-color: rgb(223, 223, 223)!important;
}

#rg {
  padding: 20px 0 0 0;
  width: 100%;
}

footer {
  background-image: linear-gradient(to bottom, #bfc2de 0, #fff 100%);
}

a>h4 {
  text-decoration: none;
}

#submit-btn-container {
  width: 60%;
}

#submit-btn-container>input,
#submit-btn-container>p {
  font-size: 20px;
}


/*POSITIONING*/

.div-narrow {
  width: 300px;
}

.centre-align {
  align-items: center;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.padding-zero {
  padding: 0;
}


/*FLEXBOX*/

.card-flex {
  width: 200px;
  margin: auto;
  padding-bottom: 25px;
}

.container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
}

.flex-direction-row {
  display: flex;
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1;
}

.flex-align-right {
  align-items: flex-end;
}

.align-right {
  margin-left: auto;
}

.btn-addsubtract-score {
  border-radius: 0px
}

.btn-add-score {
  border-radius: 3px 3px 0px 0px;
}

.btn-subtract-score {
  border-radius: 0px 0px 3px 3px;
}


/* MEDIA QUERIES*/


/* DESKTOP */

@media screen and (min-width: 992px) {
  .card {
    height: 220px;
  }
  .card-flex {
    width: 30%;
  }
  #week-selector {
    width: 700px;
  }
}


/* MOBILE/TABLET */

@media screen and (max-width: 992px) {
  .card {
    height: 300px;
  }
  .card-img-top {
    width: 40%;
  }
}

.card {
  position: relative;
}


/* Corner notifier */

div#corner-triangle {
  display: block;
  width: 80px;
  height: 80px;
  border-style: solid;
  border-width: 0 80px 80px 0;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 99999;
  color: white;
}

.round-complete {
  border-color: transparent #2e7b1b transparent transparent;
}

.round-not-ready {
  border-color: transparent #cc0e0e transparent transparent;
}

div#corner-triangle .corner-triangle-text {
  position: relative;
  font-size: 12px;
  top: -5px;
  right: -40px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

div#corner-triangle .corner-triangle-text span.corner-triangle-firstline {
  margin-left: 5px;
}

div#corner-triangle .corner-triangle-text a {
  color: white;
}


/* skybet products */

#product-wrapper {
  padding: 0;
  margin: 0;
  background-color: #262626;
  position: fixed;
  width: 100%;
}

.product-image {
  height: 18px;
}

.product-item {
  display: table-cell;
  vertical-align: middle;
  padding: 0 12px;
}

.product-image-large {
  height: 20px;
}

.product-list {
  margin: auto;
  height: 28px;
  display: table;
}